* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


.banner {
    background-color: #E9EFFF;
    text-align: center;
    height: 30px;
}

.banner ul li {
    align-items: center;
    display: inline-block;
    color: #000B68 !important;
}

.navbar {
    background-color: #D70018;
}

.navbar li:hover {
    background-color: #b90016;
}

.navbar-nav .nav-link,
.navbar-brand {
    color: white !important;
}

.navbar button:hover {
    background-color: #E9EFFF;
}

.search-box input {
    width: 200px;
}

.container {
    width: 100%;
    margin: auto;
    padding: 20px;
}


footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
